button{
    padding: 50px;
    background-color: black;
    color: white;
    font-size: 30px;    
    cursor: pointer;
}
button:hover{
    background-color: rgb(195, 0, 0);
    border:none;
    transform: translateX(500px);
}